Repository theRealGG/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updated test
  tests/i18n.spec.ts
Due: prettier --write, eslint --fix

Modified scripts
  package.json
Due: prettier --write

Updated README.md
  README.md
Due: prettier --write

Modified actions workflow
  .github/workflows/default.yaml
Due: none

Install playwright dependencies
  .github/workflows/default.yaml
Due: none

Modified github action worklfow to be compatible with playwright
  .github/workflows/default.yaml
  playwright.config.ts
Due: prettier --write, eslint --fix

added shadcn
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
  src/style/app/globals.css
  src/style/base.css
  src/style/components.css
  src/style/style.css
  src/style/utilities.css
Due: prettier --write, eslint --fix

enhanced shadcdn config
  components.json
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: prettier --write, eslint --fix

Removed custom var rule due to conflict with shadcdn
  .stylelintrc.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: **/*.{json,md}) or (any of: src/**/*.{json,md})) or (any of: **/*.{js,ts, jsx,tsx})) or (any of: src/**/*.{js,ts,jsx,tsx})
  eslint --fix: (any of: **/*.{js,ts, jsx,tsx}) or (any of: src/**/*.{js,ts,jsx,tsx})
